
    <header>
        <div class="container">
            <img src="/assets/img/logo.png" alt="Logo do Suco Maria Peregrina">
            <h1>Bem-vindo ao Meu Site</h1>
            <nav>
                <button onclick="location.href='#home'">Início</button>
                <button onclick="location.href='#gallery'">Produtos</button>
                <button onclick="location.href='#about'">Planos</button>
                <button onclick="location.href='#contato'">Cadastros</button>
            </nav>
        </div>
    </header>
    <main>
        <section id="home" class="background">
            <div class="cards-wrapper">
                <div class="card">
                    <img src="/assets/img/fundo.jpg" alt="Imagem 1">
                    <div class="card-content"></div>
                </div>
            </div>
        </section>

        <hr class="divider">

        <section id="gallery" class="container">
            <h2>Nossos Produtos</h2>
            <div class="cards-wrapper">
                <div class="card">
                    <img src="/assets/img/suco2L.png" alt="Suco de 2L">
                    <div class="card-content">
                        <p>SUCO DE 2L</p>
                        <p>Descrição do suco de 2 litros.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/assets/img/suco1L.png" alt="Suco de 1L">
                    <div class="card-content">
                        <p>SUCO DE 1L</p>
                        <p>Descrição do suco de 1 litro.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/assets/img/suco330ml.png" alt="Suco de 330ml">
                    <div class="card-content">
                        <p>SUCO DE 330ML</p>
                        <p>Descrição do suco de 330 ml.</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="divider">

        <section id="about" class="container">
            <h2>Conheça os planos</h2>
            <div class="cards-wrapper">
                <div class="card">
                    <img src="/assets/img/planostart.png" alt="Imagem 1">
                    <div class="card-content"></div>
                </div>
                <div class="card">
                    <img src="/assets/img/planotop.png" alt="Imagem 2">
                    <div class="card-content"></div>
                </div>
            </div>
        </section>

        <hr class="divider">

        <section id="contato" class="contact">
            <div class="container">
                <h2>Cadastre-se aqui</h2>
                <form>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Mensagem:</label>
                        <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn">Enviar</button>
                </form>
            </div>
        </section>
    </main>

   <footer>
    <div class="container">
        <p>&copy; 2024 Suco Maria Peregrina. Todos os direitos reservados.</p>
        <p>Contato: <a href="mailto:contato@mariaperegrina.com">contato@mariaperegrina.com</a></p>
        <p> Instagram: <a href="https://www.instagram.com/sucomariaperegrina?utm_source=ig_web_button_share_sheet&igshid=ZDNlZDc0MzIxNw==" target="_blank">Suco Maria Peregrina</a></p>
    </div>
</footer>
    <script src="scripts.js"></script>

